In [20]:
import pandas as pd

df = pd.read_excel('./data/2022년 11월  교통카드 통계자료.xls',sheet_name=2,thousands=',',index_col=0)
df

,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
사용월,,,,,,,,
2022-11,1호선,150,서울역,1316422,1277104,203139,193877,2022-12-03 10:33:29
2022-11,1호선,151,시청,653911,662910,97339,95891,2022-12-03 10:33:29
2022-11,1호선,152,종각,924585,898103,141959,131890,2022-12-03 10:33:29
2022-11,1호선,153,종로3가,485926,435252,300364,276761,2022-12-03 10:33:29
2022-11,1호선,154,종로5가,436948,438774,242398,232286,2022-12-03 10:33:29
...,...,...,...,...,...,...,...,...
2022-11,신림선,4407,당곡,84179,80910,29758,29546,2022-12-03 10:33:29
2022-11,신림선,4408,신림,32908,48646,13866,15910,2022-12-03 10:33:29
2022-11,신림선,4409,서원,69575,56090,19949,19818,2022-12-03 10:33:29
2022-11,신림선,4410,서울대벤처타운,168628,158469,54188,55494,2022-12-03 10:33:29
2022-11,신림선,4411,관악산(서울대),56237,59538,33654,34153,2022-12-03 10:33:29

In [24]:
df['작업일시']

사용월
2022-11    2022-12-03 10:33:29
2022-11    2022-12-03 10:33:29
2022-11    2022-12-03 10:33:29
2022-11    2022-12-03 10:33:29
2022-11    2022-12-03 10:33:29
                  ...
2022-11    2022-12-03 10:33:29
2022-11    2022-12-03 10:33:29
2022-11    2022-12-03 10:33:29
2022-11    2022-12-03 10:33:29
2022-11    2022-12-03 10:33:29
Name: 작업일시, Length: 613, dtype: object